<html>
<head>
    <meta charset="utf-8">
    <title>Add Atical</title>
    <meta name=description content="后台开发">
</head>
<style type="text/css">
    a.button {
        color: blue;
        font: 20px;
    }
</style>

<div>
    <div>
        <header id=header>
            <h1><a href="/">Addis Inn</a></h1>

            <p class=subtitle>Add Atical</p>
        </header>
    </div>
    <table>
        <tr>
            <td>Title</td>
        </tr>
        <tr>
            <td><textarea style="min-width: 500px" id="title" rows="1"></textarea>
            </td>
        </tr>
        <tr>
            <td>Abstract</td>
        </tr>
        <tr>
            <td><textarea style="min-width: 500px" id="abstract" rows="3"></textarea></td>
        </tr>
        <tr>
            <td>Content</td>
        </tr>
        <tr>
            <td><textarea style="min-width: 500px" id="Content" rows="10"></textarea></td>
        </tr>
        <tr>
            <td>
                <lable>-></lable>
                <a class="button">ADD</a></td>
        </tr>
    </table>
</div>
</html>
