<!Doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,minimum-scale=1.0" name=viewport>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=referrer content=always>
    <title>Addis Inn</title>
    <meta name=description content="后台开发">
</head>
<body>
<div class=container>
    <div>
        <header id=header>
            <h1><a href="/">Addis Inn</a></h1>

            <p class=subtitle>专注 WEB 开发</p>
        </header>
    </div>


    <div>
        #foreach($blog in $blogs)
            <div>
                <article>
                    <h1><a href="/post/$blog.id">$blog.title</a></h1>
                    <time>$blog.createTime</time>
                    <div><p>$blog.abstractStr</p>

                        <p><a href="/post/$blog.id" class="more-link">继续阅读 &raquo;</a></p></div>
                </article>
                <p>-------------------------------------------------------------</p>
            </div>
        #end
        <footer id=footer class=inner>&copy;&nbsp;2016&nbsp;-&nbsp;Addis Inn&nbsp;-&nbsp;</footer>
    </div>
</div>
<input type=hidden id=CURRENT_PAGE value="blog-home"><input type=hidden id=CDN_DOMAIN value="//st.imququ.com">
</body>
</html>